[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
	ignore = all
[submodule "external/glew"]
	path = external/glew
	url = git@github.com:nigels-com/glew.git
	ignore = all
