# Mac OS
.DS_Store

# CLion
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-releaseprofile/

# Generated source files
resources.cpp

# WebGL export folder
export/*.js
export/*.wasm
export/*.wasm.map
export/*.wast

# Libraries
libjackbengine.bc
libimgui.bc
resourceGenerator
